.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  max-width: 20%;
  display: inline;
}

.simple-text {
  max-width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
